<app-navegacion></app-navegacion>
<div class="bg-General">
    <div class="Conte-all">
        <div class="row Conte-C">
            <div class="col-lg-6">
                <h2 class="txt-blanco txt-T">Encuentra <br>el vuelo que buscas</h2>
                <h4 class="txt-blanco txt-ST">Sin tiempos de esperas<br>y al mejor precio</h4>
                <button class="btn btn-vermas"  [routerLink]="['../vuelos']">Ver Más ></button>
            </div>
            <div class="col-lg-6">
                <div class=" mb-3" style="max-width: 900px;">
                    <img src="../../../assets/img/hombreInicio.png" class="card-img" alt="..."> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-Inicio2">
    <div class="Conte-all">
        <div class="row Conte-C">
            <div class="col-lg-2 vuelos-Interes">
                <h4 class="txt-blanco">Vuelos de interés</h4>
                <div class="vueloInte" *ngFor="let vuelos of VuelosInicio; let indice=index">
                    <div class="O-D">
                        <img src="../../../assets/img/plane.png" width="45" height="45" class="img-V-I  align-top">
                        <span class="txt-blanco txt-V-I">{{ruta[indice]}}</span>
                    </div>
                    <div class="info-V-interes">
                        <h5 class="txt-blanco fecha-V-interes">{{fecha[indice]}}</h5>
                        <h6 class="txt-blanco aerolinea-V-interes">{{aereolinea[indice]}}</h6>
                    </div>
                    <div class="precio-V-interes">
                        <h5 class="txt-blanco txt-precio">${{precio[indice]}}</h5>
                    </div>
                    <input  type="text" class="form-control" #Parametros hidden  value="{{ruta[indice]}}/{{fecha[indice]}}/{{aereolinea[indice]}}/${{precio[indice]}}">
                    <div class="btn-V-interes">
                        <button class="btn btn-vermas-V-interes" (click)="onclickbtnInfo(Parametros)">Ver Más</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="info ">
                            <h3 class="txt-blanco">Tienes dudas, <br>quejas o sugerencias</h3>
                            <div class="conte-info-1">
                                <img src="../../../assets/img/contactus.png" style="width: 26rem;" class="card-img" alt="...">
                                <br>
                                <div class="btn-v">
                                    <button class="btn btn-vermas " [routerLink]="['../contactanos']">Contactanos ></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="info ">
                            <h3 class="txt-blanco">Quieres saber más <br>sobre nosotros y nuestras políticas </h3>
                            <div class="conte-info-1">
                                <img src="../../../assets/img/nosotrosus.png" style="width: 18rem;" class="card-img" alt="...">
                                <br>
                                <div class="btn-v">
                                    <button class="btn btn-vermas " [routerLink]="['../nosotros']">Nosotros ></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="info conte-info-3">
                            <img src="../../../assets/img/lugares.png" style="width: 22rem;" class="card-img" alt="...">
                            <div class="bloque-txt-btn-info-3">
                                <h3 class="txt-blanco ">Viaja por todo el mundo<br>sin limites</h3>
                                <button class="btn btn-vermas" [routerLink]="['../vuelos']">Ver Más ></button>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-lg-1">
                <div class="all-redes">
                    <div class="Redes R-instagram">
                        <a href="https://www.instagram.com/_flightAssurance/" target="_blank">
                            <img src="../../../assets/img/instagram.png" style="width: 3rem;"  class="card-img">
                        </a>
                    </div> 
                    <div class="Redes R-facebook">
                        <a href="https://www.facebook.com/flight.assurance/" target="_blank">
                            <img src="../../../assets/img/facebook.png" style="width: 3rem;" class="card-img">
                        </a>
                    </div>
                    <div class="Redes R-reddit">
                        <a href="https://www.reddit.com/user/flightassurance" target="_blank">
                            <img src="../../../assets/img/reddit.png" style="width: 3rem;" class="card-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>