<app-navegacion></app-navegacion>
<div class="bg-General completar-c">
    <div class="Conte-all">
        <div class="row Conte-C">
            <div class="col-lg-9">
                <div class="conten-com-datos">
                    <div class="row container txt-titulo">
                        <h1 class="txt-negro">Complete sus datos</h1> 
                    </div>
                    <form class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" class="inputs-A inputs-r form-control" placeholder="Nombre">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="inputs-A inputs-r form-control" placeholder="Nombre 2">
                                </div>
                            </div>
                            <div class="form-group">
                              <input type="text" class="inputs-A inputs-r form-control" id="" placeholder="Apellidos">
                            </div>
                            <div class="form-group">
                              <input type="text" class="inputs-A  inputs-r form-control" id="" placeholder="Correo electronico">
                            </div>
                            <div class="form-group">
                              <input type="text" class="inputs-A inputs-r form-control" id="" placeholder="Pasaporte">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="date" class="inputs-A inputs-r form-control" id="" placeholder="DD/MM/AAAA">
                            </div>
                            <div class="form-group">
                              <input type="text" class="inputs-A inputs-r form-control" id="" placeholder="Correo electrónico">
                            </div>
                            <div class="form-group">
                              <input type="tel" class="inputs-A  inputs-r form-control" id="" placeholder="Teléfono">
                            </div>
                            <div class="form-group">
                              <input type="text" class="inputs-A inputs-r form-control" id="" placeholder="Dirección">
                            </div>
                        </div>
                    </form>
                    <div class="g-radio-btn"> 
                        <span class="txt-negro txt-genero">Genero</span>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadioF" name="customRadio" class="custom-control-input  ">
                            <label class="custom-control-label txt-radio" for="customRadioF">Mujer (F)</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadioM" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label txt-radio" for="customRadioM">Hombre (M)</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadioX" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label txt-radio" for="customRadioX">No especificado (X)</label>
                        </div>
                    </div>
                    <div class="conten-btn">
                        <button type="submit" class="btn btn-continuar"><span class="txt-continuar">Continuar</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>