.completar-c{
    min-height: 100vh;
}
.Conte-C{
    display: flex;
    justify-content: center;
}
.conten-com-datos{
    background-color: #4ECDC4;
    border-radius: 20px;
    padding: 10%;
    text-align: center;
}
.txt-titulo{
    padding-bottom: 15px;
}
.g-radio-btn{
    text-align: left;
}
.txt-genero{
    font-weight: 600;
    font-size: 22px;
}
.txt-radio{
    font-weight: 500;
    font-size: 15px;
}
.conten-btn{
    text-align: right;
}
.btn-continuar{
    background-color: #FFE66D;
    padding: 6px 30px 6px 30px;
    border-radius: 25px;
    -moz-box-shadow: 3px 3px 10px -2px  #292F36;
    -webkit-box-shadow: 3px 3px 10px -2px  #292F36;
    box-shadow: 3px 3px 10px -2px #292F36;
}
.btn-continuar:hover{
    box-shadow:   1px 1px 4px 0px #292F36;
}
.txt-continuar{
    font-weight: 600;
    font-size: 1.2em;
    color: #292F36;
}