<div class="bg-footer">
    <h5 class="txt-blanco copy">&copy;2020 Flight Assurance</h5>
    <p ><a href="#" class="txt-blanco nav-link terminos-footer">Términos y condiciones de uso</a></p>
    <div class="imgs-R-Footer">
        <div class="R-Footer">
            <a href="#"><img src="../../../assets/img/insta.png" style="width: 2rem;" class=" insta card-img"></a>
        </div>
        <div class="R-Footer">
            <a href="#"><img src="../../../assets/img/face.png" style="width: 2rem;" class=" face card-img"></a>
        </div>
        <div class="R-Footer">
            <a href="#"><img src="../../../assets/img/reddi.png" style="width: 2rem;" class=" reddi card-img"></a>
        </div>
    </div>
</div>