<app-navegacion></app-navegacion>
<div class="bg-General detalles-c">
    <div class="Conte-all">
        <div class="row Conte-C">
            <div class="col-lg-8">
                <div class="conten-datos">
                    <h1 class="txt-negro">Detalles del vuelo</h1>
                    <h6><span class="txt-info">Origen: </span><span id="origen">Santo Domingo (SDQ)</span></h6>
                    <h6><span class="txt-info">Destino: </span><span id="destino">Cancun (CUN)</span></h6>
                    <h6><span class="txt-info">Fecha de vuelo: </span><span id="fecha-vuelo">26/11/2020</span></h6>
                    <h6><span class="txt-info">Terminal: </span><span id="terminal">A</span></h6>
                    <h6><span class="txt-info">Hora salida: </span><span id="hora-salida">6:00pm</span></h6>
                    <h6><span class="txt-info">Hora llegada: </span><span id="hora-llegada">8:00pm</span></h6>

                    <div class="txt-btn-PaRe">
                        <h6><span class="txt-info">Costo del vuelo: </span><span id="precio">$850</span></h6>
                        <button type="submit" class="mt-2 btn btn-PaRe"><span class="txt-PaRe">Pagar/Reserbar</span></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="conten-datos">
                    <div class="g-radio-btn"> 
                        <span class="txt-negro txt-clase">Clase del vuelo</span>
                        <div class="custom-control custom-radio mt-3 mb-1">
                            <input type="radio" id="customRadioEco" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label txt-radio" for="customRadioEco">Economica</label>
                        </div>
                        <div class="custom-control custom-radio mb-1">
                            <input type="radio" id="customRadioEje" name="customRadio" class="custom-control-input  ">
                            <label class="custom-control-label txt-radio" for="customRadioEje">Ejecutiva</label>
                        </div>
                        <div class="custom-control custom-radio mb-1 ">
                            <input type="radio" id="customRadioP" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label txt-radio" for="customRadioP">Primera</label>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>