.btnGoBack{
    background-color: #4ECDC4;
}
.detalles-c{
    min-height: 100vh;
}
.Conte-C{
    display: flex;
    justify-content: center;
    align-content: center;
}
.conten-datos{
    background-color: #F7FFF7;
    border-radius: 25px;
    padding: 8%;
}
.titulo{
    margin-bottom:25px;
}
.txt-info{
    font-size: 18px;
}
.txt-btn-PaRe{
    text-align: right;
}
.btn-PaRe{
    background-color: #FFE66D;
    padding: 6px 30px 6px 30px;
    border-radius: 25px;
    -moz-box-shadow: 3px 3px 10px -2px  #292F36;
    -webkit-box-shadow: 3px 3px 10px -2px  #292F36;
    box-shadow: 3px 3px 10px -2px #292F36;
}
.btn-PaRe:hover{
    box-shadow:   1px 1px 4px 0px #292F36;
}

.txt-PaRe{
    font-weight: 600;
    font-size: 1.2em;
    color: #292F36;
}

.txt-clase{
    font-size: 22px;
    font-weight: 600;
}

.txt-radio{
    font-weight: 500;
    font-size: 15px;
}

.r-clase{
    margin-bottom: 5px;
}