.pago-c{
    min-height: 100vh;
}
.Conte-C{
    display: flex;
    justify-content: center;
}
.conten-pago{
    background-color: #4ECDC4;
    border-radius: 20px;
    padding: 8%;
    text-align: center;
}
.txt-titulo{
    padding-bottom: 15px;
}
.content-img-card{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
}
.credit-cards{
    margin: 0 15px 0 15px;
}
.g-radio-btn{
    text-align: left;
}
.conten-btn{
    text-align: right;
}
.btn-pagar{
    background-color: #FFE66D;
    padding: 6px 30px 6px 30px;
    border-radius: 25px;
    -moz-box-shadow: 3px 3px 10px -2px  #292F36;
    -webkit-box-shadow: 3px 3px 10px -2px  #292F36;
    box-shadow: 3px 3px 10px -2px #292F36;
}
.btn-pagar:hover{
    box-shadow:   1px 1px 4px 0px #292F36;
}
.txt-pagar{
    font-weight: 600;
    font-size: 1.2em;
    color: #292F36;
}