<app-navegacion></app-navegacion>
<div class="bg-General pago-c">
    <div class="Conte-all">
        <div class="row Conte-C">
            <div class="col-lg-9">
                <div class="conten-pago">
                    <a href="/" [routerLink]="['../completarDatos']">
                        <div class="btnGoBack">
                            <img src="../../../assets/img/left-arrow.png" width="30" height="30" class=" " alt="" loading="lazy">
                        </div>
                    </a>
                    <div class="row container txt-titulo">
                        <h1 class="txt-negro">Monto del vuelo: {{montovuelo}} </h1> 
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="number" class="inputs-A form-control" min="{{montominimo}}" value="{{montominimo}}" #montoapagar id="" placeholder="el minimo es 50%">
                        </div>
                    </div>
                    <div class="row container txt-titulo">
                        <h1 class="txt-negro">Datos de tarjeta</h1> 
                    </div>
                    <form class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="inputs-A form-control" #nombretarjeta value="{{newnombretarjeta}}" id="" placeholder="Nombre de tarjeta">
                            </div>
                            <div class="form-group">
                                <input type="text" class="inputs-A form-control" maxlength="19" id="" #notarjeta placeholder="Numero de tarjeta">
                            </div>
                            <div class="form-group">
                                <input type="text" class="inputs-A form-control" maxlength="5" id="" #fechavencimiento placeholder="Fecha de vencimiento (mm/aa)">
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" class="inputs-A form-control text-center" #CCV maxlength="3" id="" placeholder="CVV">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row content-img-card align-top">
                                <div class="col-lg-12 align-top" style="max-width: 300px;">
                                    <img src="../../../assets/img/credit-card.png " class="card-img" alt="..."> 
                                    <img src="../../../assets/img/Visa_Card_Large.png" class="credit-cards" width="65" height="45"  alt="..." (click)="onclickVisa();">
                                    <img src="../../../assets/img/master-card.png" class="credit-cards" width="65" height="65"  alt="..." (click)="onclickMC();"> 
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="conten-btn">
                        <button type="submit" class="btn btn-pagar"><span class="txt-pagar" (click)="onClickPagar(nombretarjeta, notarjeta, fechavencimiento, 
                            CCV, montoapagar);">Pagar</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>