<app-navegacion></app-navegacion>
    <div class="conte-N ">
        <div class=" row">
            <div class=" ">
                <div class="col-lg-12">
                    <div class=" mb-3 " style="max-width: 900px;">
                        <img src="../../../assets/img/nosotrosAvion.png" class="card-img " alt="..."> 
                        
                    </div> 
                </div>
                <div class="col-lg-12">
                    <h1>Flight Assurance</h1>
                </div>
            </div>
        </div>
    </div>
    
    <div class="conte-N2 ">
        <div class="contenedor row">
            <div class="col-lg-12">
                <div class="row info1">
                    <div class="col-lg-5">
                        <div class="" >
                            <img src="../../../assets/img/nosotrosChiAvi.png" class="card-img" alt="..."> 
                            
                        </div>
                    </div>
                    <div class="col-lg-7 Conte-left">
                        <div class="">
                            <h2 class="titulo">¡Viaja alrededor del mundo <br>con nosotros!</h2>
                            <p class="sub-titulo">Con nuestros precios cómodos <br>y flexibles podrás conocer el <br>mundo entero con Flight Assurance</p>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="col-lg-12">
                <div class="row info2">
                    <div class="col-lg-7 Conte-right">
                        <div class="text-rigth" >
                            <h2 class="titulo">Buscamos que puedas <br>viajar con tan solo <br>unos clicks</h2>
                            <p class="sub-titulo">Con alta variedadde vuelos <br>y al mejor precio</p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="">
                            <img src="../../../assets/img/nosotroView.png" class="card-img" alt="..."> 
                            
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-lg-12">
                <div class="politicas mt-5">
                    <div class="row politicas2">
                    
                        <div class="col-lg-5">
                            <div class="" style="max-width: 500px;">
                                <img src="../../../assets/img/terms.png" class="card-img" alt="..."> 
                                
                            </div>
                        </div>
                        <div class="col-lg-7 Conte-left">
                            <div class="">
                                <h2 class="titulo txt-blanco">Términos y Condiciones <br>de uso</h2>
                                <p class="sub-titulo txt-blanco">Conoce nuestras politicas <br>y nuestras condiciones de uso</p>
                                <div>
                                    <button class="btn btnVermas txt-blanco"><span class="txt-blanco">Ver más ></span></button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                
            </div>
        </div>
        
    </div>
    
<app-footer></app-footer>