<div class="Conte-404">
    <div class="Conte-all conte-N ">
        <div class=" row">
            <div class=" ">
                <div class="col-lg-12">
                    <div class=" mb-3 " style="max-width: 900px;">
                        <img src="../../../assets/img/404.png" class="card-img " alt="..."> 
                        
                    </div> 
                </div>
                <div class="col-lg-12">
                    <h1>Flight Assurance</h1>
                    <div class="conten-btn">
                        <button type="" [routerLink]="['']" class="btn btn-inicio"><span class="txt-pagar">Volver a Inicio</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
