<app-navegacion></app-navegacion>
<div class="bg-General detalles-c">
    <div class="Conte-all">
        <div class="row Conte-C">
            <div class="col-lg-12">
                <div class="row txt-logo">
                    
                    <div class="col-lg-3 logo">
                        <img src="../../../assets/img/planelogo.png" width="35" height="35" class="img-V-I  align-top">
                        <h1 class="txt-negro text-logo">Flight Assurance</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="conten-datos">
                    <div class="row barra2 ">
                        <div class="col-lg-3 txt-info mr-4">
                            <div class="row ">
                                <div class="col-lg-12  ">
                                    <h6><span class="txt-color-v">Tel: </span><span class="txt-blanco">849-406-8604</span></h6>
                                    <h6><span class="txt-color-v">Email: </span><span class="txt-blanco">FlightAssurance@gmail.com</span></h6>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-8 ">
                            <table class="table">
                                <thead class="cabeza">
                                    <tr>
                                        <th class="txt-blanco">Vuelo</th>
                                        <th class="txt-blanco">Asiento</th>
                                        <th class="txt-blanco">Fecha Salida</th>
                                        <th class="txt-blanco">Fecha Llegada</th>
                                        <th class="txt-blanco">Hora Salida</th>
                                        <th class="txt-blanco">Hora Llegada</th>
                                        <th class="txt-blanco">Precio</th>
                                        <th class="txt-blanco">Total Pagado</th>
                                    </tr>
                                </thead>
                                <tbody class="cuerpo">
                                    <tr>
                                        <td class="txt-negro">{{codigovuelo}}</td>
                                        <td class="txt-negro">{{numeroasiento}}</td>
                                        <td class="txt-negro">{{fechasalida}}</td>
                                        <td class="txt-negro">{{fechallegada}}</td>
                                        <td class="txt-negro">{{horasalida}}</td>
                                        <td class="txt-negro">{{horallegada}}</td>
                                        <td class="txt-negro">{{precio}}</td>
                                        <td class="txt-negro">${{montopagado}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="conten-datos">
                    <div class="row barra2">
                        <div class="col-lg-3 mr-4 datos-cliente">
                            <h5 class="txt-negro ">Numero del viaje</h5>
                            <h6 class="txt-blanco">{{codigovuelo}}</h6>
                            <h5 class="txt-negro ">Nombre del cliente</h5>
                            <h6 class="txt-blanco">{{nombrecliente}}</h6>
                            <h5 class="txt-negro ">Teléfono del cliente</h5>
                            <h6 class="txt-blanco">{{telefono}}</h6>
                        </div>
                        <div class="col-lg-8 ">
                            <div class="row">
                                <div class="col-lg-8 tiket">
                                    <div class="row datos1">
                                        <div class="col-lg-5">
                                            <h5>{{codigoorigen}}</h5>
                                            <h6>{{nombreorigen}}, {{codigoorigen}}</h6>
                                            <h6>{{fechasalida}} {{horasalida}}</h6>
                                        </div>
                                        <div class="col-lg-2">
                                            <img src="../../../assets/img/plane.png" width="35" height="35" class="  align-top">
                                        </div>
                                        <div class="col-lg-5">
                                            <h5>{{codigodestino}}</h5>
                                            <h6>{{nombredestino}}, {{codigodestino}}</h6>
                                            <h6>{{fechallegada}} {{horallegada}}</h6>
                                        </div>
                                        <div class="col-lg-12 datos2">
                                            <table class="table">
                                                <thead class="">
                                                    <tr>
                                                        <th class="txt-negro">Pasajero</th>
                                                        <th class="txt-negro">Vuelo</th>
                                                        <th class="txt-negro">Asiento</th>
                                                        <th class="txt-negro">Terminal</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="">
                                                    <tr>
                                                        <td class="txt-negro">{{nombrecliente}} {{apellidocliente}}</td>
                                                        <td class="txt-negro">{{codigovuelo}}</td>
                                                        <td class="txt-negro">{{numeroasiento}}</td>
                                                        <td class="txt-negro">{{terminal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 codigo">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h5>Código QR</h5>
                                            <img src="../../../assets/img/QR_code.png" width="125" height="125" class="img-V-I  align-top">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-11  conten-btns">
                <div class="conten-btn-imprimir">
                    <button type="submit" class="btn btn-imprimir"><span class="txt-btn">Imprimir</span></button>
                    <button type="submit" class="btn btn-guardar"><span class="txt-btn">Guardar</span></button>
                </div>                
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>