<app-navegacion></app-navegacion>
<div class="bg-General conte-v">
    <div class="Conte-all ">
        <div class="row ">
            <div class="col-lg-12">
                <div class="Contenedor-barra-B  ">
                    <div class="barra-B ">
                        <form>
                            <div class="row">
                                <img src="../../../assets/img/take-off.png" width="40" height="40" class="img-V-I  align-top">
                                <div class="col">
                                <select name="select" class="inputs-B form-control" [(ngModel)] = "paisorigen">
                                    <option>Origen</option>
                                    <option *ngFor="let paisO of listado['Countries']" [value]="paisO.Code">{{paisO.Name}}</option>
                                </select>
                                </div>
                                <img src="../../../assets/img/planeon.png" width="40" height="40" class="img-V-I  align-top">
                                <div class="col">
                                    
                                    <select name="select" class="inputs-B form-control" [(ngModel)] = "paisdestino">
                                        <option>Destino</option>
                                        <option  [value]="paisD.Code" *ngFor="let paisD of listado['Countries']">{{paisD.Name}}</option>
                                    </select>
                                </div>
                                <img src="../../../assets/img/globe.png" width="45" height="45" class="btn-buscar align-top" (click)="getPaisesSeleccionado();">
                            </div>
                        </form>
                    </div>
                </div>                
            </div>
            <div class="col-lg-2  ">
                <div class="positionSticky">
                    <div class="filtro-V bgB">
                        <div>
                            <div class="vueloInte">
                                <h4 class="txt-negro">Escalas</h4>
                            </div>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" (click)="filtroEscala(0)">
                            <label class="custom-control-label " for="customRadio1">Con escalas</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" (click)="filtroEscala(1)">
                            <label class="custom-control-label" for="customRadio2">Directos</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio3" checked name="customRadio" class="custom-control-input" (click)="filtroEscala(2)">
                            <label class="custom-control-label"  for="customRadio3">Todos</label>
                        </div>
                    </div>   

                    <div class="filtro-V bgB">
                        <div class="vueloInte">
                            <h4 class="txt-negro">Presupuesto</h4>
                        </div>
                        <div class="txt-fi">
                            <label for="customRange3">{{MontoPrecio}}</label>
                        </div>
                        <input name="customRange3" type="range" class="custom-range" min="0" max="1000" step="100" id="customRange3" value="0" #rangoPrecio (change)="filtradodePrecio(rangoPrecio);" >
                    </div>   
                </div>      
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let vuelos of TodoslosVuelos['Quotes']; let indice=index">
                        <div class="vuelo-vuelos">
                            <img src="../../../assets/img/plane.png" width="65" height="65" class="img-V-I  align-top">
                            <div class="O-D">
                                <span class="txt-negro txt-O-D">{{ruta[indice]}}</span>
                            </div>
                            <div class="info-vuelo">
                                <h5 class="txt-negro fecha-vuelo">{{fecha[indice]}}</h5>
                                <h6 class="txt-negro aerolinea-vuelo">{{aereolinea[indice]}}</h6>
                            </div>
                            <div class="precio-vuelo">
                                <h5 class="txt-negro txt-precio">${{precio[indice]}}</h5>
                            </div>
                            <input  type="text" class="form-control" #Parametros hidden  value="{{ruta[indice]}}/{{fecha[indice]}}/{{aereolinea[indice]}}/${{precio[indice]}}">
                            <div class="btn-vuelo">
                                <button class="btn btn-vermas-Vuelo" (click)="onclickbtnInfo(Parametros)"><span class="txt-mas">Ver Más</span></button>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" *ngFor="let vuelos of TodoslosVuelos1['Quotes']; let indice=index">
                        <div class="vuelo-vuelos">
                            <img src="../../../assets/img/plane.png" width="65" height="65" class="img-V-I  align-top">
                            <div class="O-D">
                                <span class="txt-negro txt-O-D">{{ruta1[indice]}}</span>
                            </div>
                            <div class="info-vuelo">
                                <h5 class="txt-negro fecha-vuelo">{{fecha1[indice]}}</h5>
                                <h6 class="txt-negro aerolinea-vuelo">{{aereolinea1[indice]}}</h6>
                            </div>
                            <div class="precio-vuelo">
                                <h5 class="txt-negro txt-precio">${{precio1[indice]}}</h5>
                            </div>
                            <input  type="text" class="form-control" hidden  #Parametros1 value="{{ruta1[indice]}}/{{fecha1[indice]}}/{{aereolinea1[indice]}}/${{precio1[indice]}}">
                            <div class="btn-vuelo">
                                <button class="btn btn-vermas-Vuelo" (click)="onclickbtnInfo(Parametros1)"><span class="txt-mas">Ver Más</span></button>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-lg-1 ml-5">
                <div class="positionSticky">
                    <div class="all-redes bgB">
                        <div class="Redes R-instagram">
                            <a href="https://www.instagram.com/_flightAssurance/" target="_blank">
                                <img src="../../../assets/img/instagram.png" style="width: 3rem;"  class="card-img">
                            </a>
                        </div>
                        <div class="Redes R-facebook">
                            <a href="https://www.facebook.com/flight.assurance/" target="_blank">
                                <img src="../../../assets/img/facebook.png" style="width: 3rem;" class="card-img">
                            </a>
                        </div>
                        <div class="Redes R-reddit">
                            <a href="https://www.reddit.com/user/flightassurance" target="_blank">
                                <img src="../../../assets/img/reddit.png" style="width: 3rem;" class="card-img">
                            </a>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>