.login-c{
    min-height: 100vh;
    
}
.Conte-C{
    padding-top: 10%;
}
.conte-img{
    display: flex;
    justify-content: center;
}
.conten-loging{
    background-color: #4ECDC4;
    border-radius: 20px;
    padding: 8%;
    text-align: center;
}
.img-login{
    text-align: right;
    margin-bottom: 8%;
}
.inputs-l{
    font-size: 20px;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 50px;
}
.inputs-l:focus{
    box-shadow: 0px 0px 1px 3px  #ffe76d !important;
    border-color:  #ffe76d !important;
}

.btn-Login{
    background-color: #FFE66D;
    padding: 6px 30px 6px 30px;
    border-radius: 25px;
    -moz-box-shadow: 3px 3px 10px -2px  #292F36;
    -webkit-box-shadow: 3px 3px 10px -2px  #292F36;
    box-shadow: 3px 3px 10px -2px #292F36;
    
}
.btn-Login:hover{
    box-shadow:   1px 1px 4px 0px #292F36;
}

.txt-login{
    font-weight: 600;
    font-size: 1.2em;
}

.txt-Recupe{
    color:  #F7FFF7;
    margin: 10px 0 25px 0;
    text-decoration: none;
}
.txt-Recupe:hover{
    color: #FFE66D;

}
.txt-Regist{
    
    font-weight: 500;
    color: #292F36;
}

.txt-Regist:hover{
    color: #FFE66D;
    
    text-decoration: none;
}
.recupe{
    padding: 15px 0 15px 0;
}
.recupe:hover{
    color: #FFE66D;
}