<app-navegacion></app-navegacion>
<div class="bg-General login-c">
    <div class="Conte-all">
        <div class="row Conte-C">
            <div class="col-lg-6">
                <div class="conten-contacta">
                    <div class="row container txt-logo">
                        <div class="col-lg-3 logo">
                            <img src="../../../assets/img/planelogo.png" width="45" height="45" class="img-V-I  align-top">
                        </div>
                        <div class="col-lg-9">
                            <h2 class="txt-blanco">¡Envíanos un mensaje!</h2>
                        </div>  
                    </div>
                    <form>
                        <div class="form-group">
                          <input type="text" class="inputs-A form-control" id="" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                          <input type="password" class="inputs-A form-control" id="" placeholder="Correo electronico">
                        </div>
                        <div class="form-group">
                            <input type="password" class="inputs-A form-control" id="" placeholder="Asunto">
                        </div>
                        <div class="form-group">
                            <textarea class="inputs-A form-control" maxlength="300" rows="6" id="" placeholder="Mensaje"></textarea>
                        </div>
                        <div class="conten-btn">
                            <button type="submit" class="btn btn-contact"><span class="txt-contact">Enviar</span></button>
                        </div>
                    </form>                  
                </div>
            </div>
            <div class="col-lg-6">
                <div class=" mb-3" style="max-width: 900px;">
                    <img src="../../../assets/img/contacto.png" class="card-img" alt="..."> 
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>