<div class="Conten-Menu">
    <nav class="Conte-all navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" [routerLink]="['']">
            <h1 class="NombrePage" >Flight Assurance</h1> 
            <img src="../../../assets/img/planelogo.png" width="30" height="30" class="imgLogo align-top" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse text-right" id="navbarTogglerDemo03">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link links" href="/" [routerLink]="['']" >Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link links" href="/" id="vuelos" [routerLink]="['../vuelos']">Vuelos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link links" href="/" [routerLink]="['../nosotros']">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link links" href="/" [routerLink]="['../contactanos']">Contactanos</a>
            </li>
            <a class="pointer" (click)="onclickLogueado();">
                <li class="nav-item btn-IniciarSS">
                    <div class="Contenedor-InicioSS">
                        <div class="img-InicioSS">
                            <img src="../../../assets/img/user.png" width="30" height="30" class=" " alt="" loading="lazy">
                        </div>
                        <div class="txt-InicioSS">
                            <span class="nav-link txtSS" href="#">{{boton}}</span>
                        </div>
                    </div>
                </li>
            </a>
          </ul>
        </div>
      </nav>
</div>


