/* ------------------------- */
/* General                   */
/* ------------------------- */
.colorV{
    background-color: #4ECDC4;
}
.colorVB{
    background-color: #292F36;
}
.colorR{
    background-color: #FF6B6B;
}
.colorA{
    background-color: #FFE66D;
}
.bgB{
    background-color: #F7FFF7 !important;
}
.bg-General{
    background-color: #292F36;
}

.Conte-all{
    margin: 0 55px 0 55px;
}
.txt-blanco{
    color: #F7FFF7;
}

.txt-negro{
    color: #292F36;
}
.inputs-A{
    font-size: 20px !important;
    padding: 25px !important;
    margin-bottom: 25px !important;
    border-radius: 50px !important;
}
.inputs-A:focus{
    box-shadow: 0px 0px 1px 3px  #ffe76d !important;
    border-color:  #ffe76d !important;
}


.Conte-C{
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    
}
/* ------------------------- */
/* Finl de General           */
/* ------------------------- */

/* ------------------------- */
/* Contenido Redes           */
/* ------------------------- */
.all-redes{
    background-color: #292F36;
    border-radius: 50px;
    padding: 10px;
    align-items: center;
    text-align: center;
}
.all-redes-b{
    background-color: #F7FFF7;
}
.Redes{
    padding: 15px 5px 15px 5px;
}
/* ------------------------- */
/* Fin Contenido Redes       */
/* ------------------------- */